.footer-wrapper {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 80px;
}

.top-wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: start;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  flex-direction: column;
}
.left-wrapper img {
  width: 100%;
  margin-bottom: 25px;
  max-width: 180px;
}
.left-wrapper .footer-social {
  display: none;
}
.footer-social a {
  background-color: var(--color-custom-border);
  text-decoration: none;
  padding: 8px 17px;
  border-radius: 999px;
  color: var(--color-custom-main);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-social a img {
  width: 20px;
  height: auto;
  vertical-align: center;
  position: relative;
  top: 4px;
}
.footer-social .google {
  margin-top: 0;
}
.footer-accordion-item {
  border-bottom: 1px solid #c5c5c5;
}
.footer-accordions-container > .footer-accordion-item:first-child {
  border-top: 1px solid #c5c5c5;
}
.footer-accordion-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.footer-accordion-title {
  color: #2a110a;
  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
}
.footer-accordion-summary .accordion-icon {
  color: #2a110a;
}
.footer-accordion-summary .accordion-icon svg:first-child {
  display: none;
}

.footer-accordion-summary.is-expanded .accordion-icon svg:first-child {
  display: block;
}
.footer-accordion-summary.is-expanded .accordion-icon svg:last-child {
  display: none;
}
.footer-accordion-details {
  padding: 8px 0 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
  display: flex;
  flex-direction: column;
}
.footer-accordion-details.is-expanded {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}
.footer-link,
.footer-phone-link {
  color: #2a110a;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
  font-family: 'Bricolage Grotesque', sans-serif;
  padding: 0 0 10px 0;
}

.footer-address {
  color: #2a110a;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  margin: 0;
}

.footer-view-map-btn {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  color: #9b7c38;
  border: 1px solid #9b7c38;
  border-radius: 50px;
  padding: 8px 25px;
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  text-decoration: none;
  margin-top: 15px;
}
.footer-accordion-mobile {
  display: block;
}
.footer_links-desktop {
  display: none;
}
.footerlinks-heading {
  font-size: 20px;
  color: #2a110a;
  line-height: 33px;
  margin-bottom: 5px;
  margin-top: 0;
}
.footer_links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer_links a {
  text-decoration: none;
  color: #2a110a;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
}
.newsletter {
  margin-top: 10px;
}
.newsletter .sub {
  margin-top: 0;
  color: #2a110a;
  font-size: 14px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 0;
  text-align: center;
}
.newsletter .desc {
  color: #2a110a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 100%;
  text-align: center;
}
.email-input-wrapper {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-inline: auto;
  max-width: 100%;
}
.email-input-control {
  border: 1px solid #9b7c38;
  box-shadow: none;
  border-radius: 8px;
  outline: none;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}
.email-input-field {
  color: #302100;
  font-size: 14px;
  padding: 8px 14px;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
.email-input-field::placeholder {
  color: #302100;
  opacity: 1;
}
.email-input-control:hover,
.email-input-control:focus-within {
  border: 1px solid #9b7c38;
  box-shadow: none;
  outline: none;
}
.inputs-adornment {
  display: flex;
  align-items: center;
  height: 100%;
}
.send-button {
  background-color: #9b7c38;
  padding: 4px 10px;
  margin-right: -14px;
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.send-button:hover {
  background-color: #9b7c38;
}
.send-icon {
  width: 20px;
  height: auto;
  vertical-align: middle;
}
.footer-social-wrapper {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.footer-locations {
  display: flex;
  justify-content: start;
  padding-block: 0 15px;
  flex-direction: column;
}
.footer-accord-loc {
  border-bottom: 1px solid #c5c5c5;
}
.footer_location {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer_location .location {
  color: #2a110a;
  font-size: 20px;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
}
.detail-wrapper .details {
  min-height: 100px;
}
.address,
.mobile {
  color: #2a110a;
  font-size: 16px;
  font-weight: 400;
  line-height: 33px;
  max-width: 310px;
}
.map {
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  color: #9b7c38;
  border: 1px solid #9b7c38;
  border-radius: 50px;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: fit-content;
  text-decoration: none;
  margin-top: 15px;
}
.footer-bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 16px;
  flex-direction: column;
}
.wrapper--left {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: column;
}
.wrapper--left .content {
  color: #333;
  font-weight: 400;
  line-height: 205.5%;
  font-size: 14px;
}
.wrapper--left .cards-image {
  display: flex;
  gap: 13px;
  align-items: center;
}
.wrapper--left .cards-image img {
  width: 35px;
  height: auto;
}
.bottom-right {
  font-weight: 400;
  line-height: 205.5%;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.bottom-right a {
  text-decoration: none;
  color: inherit;
}
/* sm breakpoint */

@media (min-width: 641px) {
  .email-input-wrapper {
    margin-top: 15px;
  }
}
/* Medium Screens */
@media (min-width: 769px) {
  .footer-wrapper {
    padding-top: 40px;
  }
  .top-wrapper {
    padding-bottom: 30px;
  }
  .left-wrapper img {
    max-width: 250px;
  }
  .footer-social a img {
    width: 25px;
  }
  .footer-accordion-title,
  .bottom-right {
    font-size: 16px;
  }
  .newsletter .sub,
  .newsletter .desc {
    font-size: 16px;
  }
  .email-input-wrapper {
    max-width: 500px;
  }
  .email-input-field {
    font-size: 16px;
  }
  .send-icon {
    width: 24px;
  }
  .footer-locations {
    padding-block: 10px 25px 0;
  }
  .wrapper--left {
    gap: 13px;
  }
  .wrapper--left .content {
    font-size: 16px;
  }
  .wrapper--left .cards-image img {
    width: 40px;
  }
}

/* Large Screens */
@media (min-width: 1025px) {
  .footer-wrapper {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .top-wrapper {
    justify-content: space-between;
    padding-bottom: 40px;
    flex-direction: row;
  }
  .left-wrapper img {
    max-width: 100%;
  }
  .left-wrapper .footer-social {
    display: block;
  }
  .footer-social a img {
    width: 30px;
  }
  .footer-social .google {
    margin-top: 9px;
  }
  .footer-accordion-mobile {
    display: none;
  }
  .footer_links-desktop {
    display: block;
  }
  .newsletter {
    margin-top: 0;
  }
  .newsletter .sub {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
  }
  .newsletter .desc {
    line-height: 31px;
    max-width: 320px;
    text-align: left;
  }
  .email-input-wrapper {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-inline: 0;
  }
  .mobile-social-wrapper {
    display: none;
  }
  .footer-locations {
    padding-block: 45px;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    flex-direction: row;
  }
  .footer-bottom {
    justify-content: space-between;
    flex-direction: row;
  }
  .wrapper--left {
    gap: 23px;
    flex-direction: row;
  }
  .bottom-right {
    text-align: left;
  }
}

/*Extra  Large Screens */
@media (min-width: 1536px) {
  .footer-wrapper {
    padding-top: 65px;
  }
}
